
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f5f5f5;
}

.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}

h1 {
  margin-top: 0;
  margin-bottom: 20px;
  color: #333;
  font-size: 28px;
  text-align: center;
}

.book-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s ease;
}

.book-item:hover {
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

.book-item-info {
  flex: 1;
  margin-left: 20px;
}

.book-item-info h2 {
  margin-top: 0;
  margin-bottom: 10px;
  font-size: 20px;
  color: #333;
}

.book-item-info p {
  margin: 0;
  font-size: 16px;
  color: #666;
}

.filters {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  column-gap: 10px;
  row-gap: 10px;
  /* display: flex;
  align-items: center; */
  margin-bottom: 20px;
}

.filters input {
  padding: 10px 0 10px 2px;
  border-radius: 4px;
  border: 1px solid #ccc;
  font-size: 16px;
}

.filters input:focus {
  outline: none;
  border-color: #666;
}

.book-count {
  margin-top: 10px;
  color: #666;
  font-size: 16px;
}

.pagination {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.pagination button {
  padding: 10px 12px;
  margin: 0 5px;
  color: #666;
  border: none;
  background-color: #f0f0f0;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.pagination button:hover {
  background-color: #e0e0e0;
}

.pagination button.active {
  color: #fff;
  background-color: #333;
}

.head {
  /* display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  column-gap: 130px; */
  display: flex;
  column-gap: 170px;
  justify-content: space-between;
  padding: 10px;
}
